*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#infin{
    width:100vw;
    height:100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-top:1px solid rgb(0,0,0,0.1);
    background-color: white;
}


#infin .main{
    position: relative;
    width:calc(100% - 250px);
    height:100vh;
}
#infin .main .nav{
    height:70px;
    position: relative;
    justify-content: space-between;
    border-bottom:1px solid rgb(0,0,0,0.1);
    padding:0 10px;
}
#infin .main .nav form{
    width:400px;
    height:50px;
    background-color: aliceblue;
    border-radius:8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 5px;
}
#infin .main .nav form input{
    background: none;
    outline: none;
    border: none;
    font-size:12px;
    padding-right:10px;
    padding-left:5px;
    width:100%;
}
#infin .main .nav form i{
    padding:10px;
    font-size:15px;
    cursor: pointer;
    color:gray;
}
#infin .main .nav .options{
    height:100%;
    position: relative;
    padding:0 10px;
}
#infin .main .nav .options img{
    height:20px;
    cursor: pointer;
    margin:0 10px;
    padding:10px 0px;
    box-sizing: content-box;
    transition:0.3s;
    opacity:0.5;
}
#infin .main .nav .options img:hover{
    opacity: 1;
}
#infin .main .nav .options img:nth-child(1){
    height:15px;
}
#infin .main .nav .options img:nth-child(3){
    height:30px;
}
#infin .main .nav .options.dark img:nth-child(4){
    display: none;
}
#infin .main .nav .options.dark img:nth-child(3){
    display:block;
}
#infin .main .nav .options.light img:nth-child(4){
    display: block;
}
#infin .main .nav .options.light img:nth-child(3){
    display: none;
}

#infin .main .nav .options.maxi  img:nth-child(1){
    display: block;
}
#infin .main .nav .options.maxi img:nth-child(2){
    display:none;
}
#infin .main .nav .options.mini img:nth-child(1){
    display: none;
}
#infin .main .nav .options.mini img:nth-child(2){
    display: block;
}
#infin .main .nav .options label{
    position:absolute;
    bottom:0;
    transform:translateY(calc(50% + 0px));
    color: white;
    background-color: black;
    font-size:10px;
    font-weight:bold;
    letter-spacing: 1px;
    opacity:0;
    transition:0.3s;
    padding:5px 10px;
    border-radius:5px;
}
#infin .main .nav .options img:nth-child(1):hover ~ label:nth-child(7){
    opacity:1;
}
#infin .main .nav .options img:nth-child(2):hover ~ label:nth-child(8){
    opacity:1;
}
#infin .main .nav .options img:nth-child(3):hover ~ label:nth-child(9){
    opacity:1;
}
#infin .main .nav .options img:nth-child(4):hover ~ label:nth-child(10){
    opacity:1;
}
#infin .main .nav .options img:nth-child(5):hover ~ label:nth-child(11){
    opacity:1;
}
#infin .main .nav .options img:nth-child(6):hover ~ label:nth-child(12){
    opacity:1;
}



#infin .sidebar{
    width:250px;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border-right:1px solid rgb(0,0,0,0.1);
}
#infin .sidebar .profile{
    width:100%;
    height:70px;
    position: relative;
    border-left:1px solid rgb(0,0,0,0.1);
    justify-content: flex-start;
    padding:0 10px;
}
#infin .sidebar .profile .logo{
    width:45px;
    height:45px;
    border-radius:5px;
    background-color:rgb(255, 230, 230);
    line-height:45px;
    text-align: center;
    font-size:21px;
    letter-spacing:1px;
    color:rgb(153, 0, 0);
    font-weight:bold;
}
#infin .sidebar .profile .name{
    position: relative;
    width:calc(100% - 45px);
    padding-left:8px;
    top:0;
    left:0;
    transform:none;
    flex-direction: column;
    align-items:flex-start;
}
#infin .sidebar .profile .name h3{
    color: black;
    font-size:13px;
    letter-spacing:1px;
    margin:4px 0;
}
#infin .sidebar .profile .name p{
    font-size:11px;
    color:green;
}