*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    user-select: none;
}
.dash{
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
    flex-direction: column;
}
.dash nav{
    padding:0 10px;
}
.dash nav,.dash .board{
    width:550px;
    position: relative;
    max-width:100%;
}
.dash .board{
    height:500px;
    margin-top:20px;
    position: relative;
}
.dash nav button{
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    padding:10px 15px;
    background-color:var(--blue1);
    border-radius:5px;
    font-weight: bold;
    color: white;
    font-size:14px;
    letter-spacing:2px;
}
.dash .name{
    width:100%;
    cursor: pointer;
    justify-content:flex-start;
    position: relative;
}
.dash .name .img{
    height:50px;
    width: 50px;
    box-shadow: 0 4px 15px rgb(0,0,0,0.18);
    position: relative;
    border-radius:10px;
    margin-right:25px;
    border:3px solid white;
    background-color: white;
}
.dash .name .img .cover,
.dash .name .img .contain{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:var(--i);
    background-color: white;
}
.dash .name .img .cover{
    background-size: cover;
    opacity:0.25;
    filter:grayscale(0.5);
}
.dash .name .img .contain{
    background-size: contain;
}
.dash .name p{
    font-size:14px;
    font-weight:bold;
    letter-spacing:1px;
    width:calc(100% - 55px - 15px - 30px);
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    height:55px;
    color: black;
}
.dash .name p label{
    opacity:0.5;
    font-size:11px;
}
.dash .name p label,
.dash .name p span{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.dash .board .buttons,.dash .board .text{
    height:100%;
}
.dash .board .buttons{
    width:60px;
    flex-direction: column;
    justify-content: space-around;
}
.dash .board .buttons .button{
    cursor: pointer;
    width:40px;
    height:40px;
    line-height:40px;
    text-align: center;
}
.dash .board .text{
    width:calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    padding:10px;
    margin-left:10px;
    padding-left:20px;
    caret-color:var(--blue1);
    font-size:13px;
    letter-spacing:1px;
}
.dash .board .text:focus{
    outline:2px solid var(--blue1);
}