*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    user-select: none;
}
.dash{
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}
.dash .name{
    width:300px;
    cursor: pointer;
    justify-content:flex-start;
    align-items: stretch;
    position: relative;
}
.dash .name .img{
    height:55px;
    width: 55px;
    box-shadow: 0 5px 15px rgb(0,0,0,0.2);
    position: relative;
    border-radius:10px;
    margin-right:15px;
    border:3px solid white;
    background-color: white;
}
.dash .name .img .cover,
.dash .name .img .contain{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:var(--i);
    background-color: white;
}
.dash .name .img .cover{
    background-size: cover;
    opacity:0.25;
    filter:grayscale(0.5);
}
.dash .name .img .contain{
    background-size: contain;
}
.dash .name p{
    font-size:14px;
    font-weight:bold;
    letter-spacing:1px;
    width:calc(100% - 55px - 15px);
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    height:55px;
    color: black;
}
.dash .name p label{
    opacity:0.5;
    font-size:11px;
}
.dash .name p label,
.dash .name p span{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}