*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    user-select: none;
}
.dash{
    position: relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}
.dash .sidebar{
    position:absolute;
    top:0;
    left:0;
    width:350px;
    height:100vh;
    padding:10px;
}
.dash nav{
    flex-direction: column;
    width:100%;
}
.dash .name{
    width:100%;
    cursor: pointer;
    justify-content:flex-start;
    position: relative;
}
.dash .name .img{
    height:50px;
    width: 50px;
    box-shadow: 0 4px 15px rgb(0,0,0,0.18);
    position: relative;
    border-radius:10px;
    margin-right:15px;
    border:3px solid white;
    background-color: white;
}
.dash .name .img .cover,
.dash .name .img .contain{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:var(--i);
    background-color: white;
}
.dash .name .img .cover{
    background-size: cover;
    opacity:0.25;
    filter:grayscale(0.5);
}
.dash .name .img .contain{
    background-size: contain;
}
.dash .name p{
    font-size:14px;
    font-weight:bold;
    letter-spacing:1px;
    width:calc(100% - 55px - 15px - 30px);
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    height:55px;
    color: black;
}
.dash .name p label{
    opacity:0.5;
    font-size:11px;
}
.dash .name p label,
.dash .name p span{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.dash .name i.add{
    color:var(--blue1);
    cursor: pointer;
    line-height:30px;
    height:30px;
    text-align: center;
    position: absolute;
    right: 0;
    width:30px;
    font-size:20px;
}
.dash nav .buttons{
    margin:10px 0;
    width:100%;
    justify-content: space-around;
}
.dash nav .buttons .page{
    padding:10px;
    font-size:14px;
    cursor: pointer;
    border-radius:5px;
    font-weight: bold;
    opacity:0.5;
    transition:0.3s;
    transition-delay:0.3s;
}
.dash nav .buttons .page i{
    margin-right:10px;
}
.dash nav .buttons .page.active{
    background-color:rgba(108,38,223);
    color: white;
    opacity: 1;
    font-weight:lighter;
}
.dash nav .buttons .page.active span{
    letter-spacing:1px;
}
.dash .sidebar .sidesection{
    width:100%;
    height:calc(100% - 120px);
    overflow-x: hidden;
    overflow-y: auto;
}
.dash .mainsection{
    position:absolute;
    width:calc(100vw - 350px);
    height:100vh;
    top:0;
    left:350px;
}