*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select:none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
*::-webkit-scrollbar{
    -webkit-appearance: none;
    width:0px;
}
.mainPage{
    width:100vw;
    min-height:100vh;
    position: relative;
    background-image: url('../images/w1.jpg');
    background-blend-mode: overlay; 
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.mainPage.login{
    background-color:#679f67;
}
.mainPage .logo{
    width:500px;
    max-height:100%;
    opacity:0.2;
    position: relative;
}
@media (max-width:1000px) {
    .mainPage .logo{
        position: absolute;
        width:600px;
    }
}
@media (max-width:440px) {
    .mainPage .logo{
        position: relative;
        width:300px;
    }
    .mainPage{
        flex-direction: column;
        overflow-y: auto;
        padding-bottom:50px;
        justify-content: flex-start;
    }
}
#LogInForm{
    width:350px;
    max-width:100%;
    padding:0px 20px;
    background-color: white;
    box-shadow:0 0 30px rgb(0,0,0,0.2);
    position: relative;
}
#LogInForm h2{
    font-family: 'Bacasime Antique', serif;
    font-size:2.5em;
    font-weight:100;
    margin:15px 0px;
    border-bottom:1px solid rgb(0,0,0,0.1);
    padding-bottom:5px;
}
#LogInForm span{
    font-size:0.85em;
    margin:10px 0;
    display: block;
}
#LogInForm .googleBtn{
    width:100%;
    padding:10px;
    outline:none;
    border: none;
    margin-bottom:10px;
    background-image: url('../images/w1.jpg');
    background-blend-mode: overlay; 
    background-size: cover;
    background-color:#679f67;
    font-weight:bold;
    letter-spacing:1px;
    cursor: pointer;
}