
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    /*          font-family: 'Caveat', cursive; */
}
html{
    scroll-behavior: smooth;
}
body{
    width:100vw;
    height:100vh;
    background-color:white;
    overflow: hidden;
    position:relative;
}

#root{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
body .container{
    width:100vw;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
body .container .main{
    width:50%;
    height:100vh;
    padding:10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .main .name h2 {
    font-size:25px;
    letter-spacing:1px;
    margin:10px 0;
}
.container .main .name h2 span{
    color:red;
}
.container .main .name h3{
    font-size:18px;
    margin:10px 0;
    letter-spacing:2px;
}
.container .main .name .follow{
    letter-spacing:20px;
    font-size:22px;
}
.container .main .name .follow a{
    color:black;
    transition:0.3s;
}
.container .main .name .follow a:hover{
    color:red;
}
.container .main .name .me a{
    font-size:14px;
    line-height:40px;
    text-align:center;
    color:red;
    cursor: pointer;
}
body .projects{
    width:50%;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:white;
    padding:10px;
}
body .projects .pro_head{
    margin:20px;
    letter-spacing:2px;
    font-size:23px;
    transition:0.6s;
}
body .projects .box{
    width:100%;
    margin-top:5px;
    position:relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    transition:0.4s;
}
body .projects .box a{
    cursor:pointer;
    padding:10px;
    margin:7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height:70px;
    text-decoration:none;
    color:black;
    transition:0.3s;
}
body .projects .box a:hover{
    color:darkblue;
}
@media (max-width:1000px) {
    body .container .main{
        width:300px;
    }
    body .container .projects{
        width:calc(100% - 300px);
    }
}
@media (max-width:700px) {
    body .container{
        flex-direction: column;
    }
    body .container .main{
        width:100vw;
        padding:20px;
        justify-content:flex-start;
        height:auto;
    }
    body .container .projects{
        height:auto;
        width:100vw;
        overflow-y:visible;
        padding:15px;
    }
}